@{
    ViewBag.Title = "Musify Scaf";
}

<div class="jumbotron">
    <h1>MUSIFY</h1>
    <p class="lead">Welcome to the world of Musify library application</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Musify is a music library for all the customers
        </p>
    </div>
    <div class="col-md-4">
        <h2>Movies</h2>
        <p>To add more movies just go to Movies (for authorised Personal only)</p>
    </div>
    <div class="col-md-4">
        <h2>Customers</h2>
        <p>You can view our customer base following by clicking on Movies tab</p>
    </div>
</div>